
body {
    background-color: gray;
}

p {
    font-family: sans-serif;
}

ul {
    font-family: sans-serif;
}

nav {
    font-family: sans-serif;
    font-size: larger;
}

# 下面是link的颜色，还有当鼠标悬停，link变为白色
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: small;
    align-self: center;
}

#gallery {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
}

.grid_cell {
    align-self: baseline;
}
# 上面这一组代码是指让不同尺寸的图片都能整齐排列

@media (min-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }

@media (min-width: 900px) {
    #gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }

@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(4, 275px); 
    }
  }

# 下面应该是指index页面中图片的尺寸大小
.gallery_thumb {
    width: 250px;
    object-fit: cover;
}

#下面应该是指点击图片后显示的网页中图片的尺寸大小
#exhibit {
    width: 300px;
}

# 下面这几组，是指网页根据窗口的尺寸来灵活调整图片按几列进行排列
@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}
